*, h1, h2, h3, h4, h5, h6, ul, li {
    margin: 0;
    padding: 0;
}

body {
    font-family: Calibri;
}

.gecici2 {
    width: 300px;
    background-color: #ffd800;
    float: right;
}

.anaTasiyici {
    width: 1300px;
    margin: 0 auto;
}

.arkaPlan {
    background-image: url('../resimler/banner.jpg');
}

.icerik {
    width: 1130px;
    float: left;
    padding-top: 40px;
}

.satir {
    padding: 5px 0;
}

.kategoriler {
    width: 125px;
    border-radius: 5px;
    float: left;
    padding-left: 5px;
    padding-right: 5px;
    margin-right: 10px;
    background-color: #A8C6CE;
}

    .kategoriler a {
        text-decoration: none;
        color: black;
        font-weight: 600;
    }

        .kategoriler a:hover {
            color: white;
        }

.eserler {
    background-color: red;
    float: left;
    margin: 20px 10px;
}

    .eserler a {
        text-decoration: none;
    }

.linkler {
    font-size: 20px;
    font-family: MuseoModerno;
}

    .linkler a {
        text-decoration: none;
        padding: 10px;
        color: black;
    }

        .linkler a:hover {
            color: #ffffff;
        }

.uyePanel {
    font-size: 12px;
    padding-bottom: 5px;
}

    .uyePanel a {
        text-decoration: none;
        color: black;
    }

        .uyePanel a:hover {
            color: #ffffff;
        }

.tablo {
    width: 1000px;
    font-size: 12px;
    padding-left: 20px;
    margin-top: 5px;
}

    .tablo tr {
    }

        .tablo tr th {
            background-color: #ECF0F1;
            padding: 10px;
            text-align: left;
            border: 1px solid silver;
        }

        .tablo tr td {
            border: 1px solid silver;
            padding: 0 10px;
        }

            .tablo tr td img {
                display: block;
                margin-left: auto;
                margin-right: auto;
            }


.kategorilerTablo {
    width: 900px;
    font-size: 12px;
    padding-left: 20px;
}

    .kategorilerTablo tr {
    }

        .kategorilerTablo tr th {
            background-color: #ECF0F1;
            padding: 10px;
            text-align: left;
            border: 1px solid silver;
        }

        .kategorilerTablo tr td {
            border: 1px solid silver;
            padding: 0 10px;
        }

            .kategorilerTablo tr td img {
                display: block;
                margin-left: auto;
                margin-right: auto;
            }

.reklam {
    width: 160px;
    padding-top: 40px;
    float: right;
}

.eserDetay {
    width: 800px;
    font-size: 20px;
    padding-left: 20px;
}

.yorumTasiyici {
    width: 500px;
    border: 1px solid silver;
    margin-left: 20px;
    padding: 20px 20px;
}

.yorumTasiyiciBaslik {
    font-size: 18px;
    font-weight: 800;
}

.multiText{
    width: 450px;
    height: 100px;
    max-width: 450px;
    min-width: 450px;
    max-height: 100px;
    min-height: 100px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #ECF0F1;
}

.formTasiyiciUyelik {
    width: 375px;
    float: left;
    background-image: url('../resimler/logo arka planlı.jpg');
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.yoneticiFormTasiyici {
    width: 375px;
}

.formBaslik {
    background-color: #ECF0F1;
    padding: 10px;
    border: 1px solid silver;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.formIcerik {
    padding: 20px;
    margin-bottom: 10px;
    border: 1px solid silver;
    border-top: none;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.formIcerikUyeOl {
    padding: 20px;
    margin-bottom: 10px;
  padding-left:20px;
    border-top: none;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.metinkutu {
    padding: 10px;
    width: 300px;
    border-radius: 5px;
    border: none;
    background-color: #ECF0F1;
}

.satir {
    padding: 5px 0;
}

.durum {
    padding-top: 10px;
    padding-bottom: 10px;
    float: left;
}

.silinmis {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    float: left;
}

.islembuton {
    color: black;
    border-radius: 5px;
    border: 1px solid white;
    padding: 5px;
    text-decoration: none;
    background-color: #1ABC9C;
}

    .islembuton:hover {
        background-color: #F9D56D
    }

.bilgipaneli {
    float: right;
    color: white;
    border-radius: 5px;
    padding: 5px;
    text-decoration: none;
}
.bilgipaneliGiris {
    float: right;
    color: black;
    border-radius: 5px;
    padding: 5px;
    text-decoration: none;
}

.kayitdurum {
    padding-top: 10px;
    padding-bottom: 10px;
}

.tasiyici {
    width: 960px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15%;
    border-radius: 10px;
    box-shadow: 10px 10px 13px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 10px 13px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 13px 0px rgba(0,0,0,0.75);
}

.sol {
    background-color: white;
    padding: 40px;
    width: 400px;
    float: left;
    height: 300px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}

.sag {
    background-image: url('../../resimler/filmstrip and camera.gif');
    background-size: 100%;
    padding: 10px;
    width: 460px;
    float: left;
    height: 360px;
    text-align: center;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}
    .girisButon{
    border-radius: 5px;
    font-size: 12px;
    padding: 3px;
    text-decoration: none;
    width: 320px;
    background-color: #1ABC9C;
    cursor: pointer;
}

.girisButon:hover {
    background-color: #F9D56D;
}
.girisbilgipaneli {
    background-color: #FE4385;
    color: white;
    padding: 10px;
    width: 298px;
    border-radius: 5px;
}

.kullaniciBilgiPaneliBasligi {
    padding: 10px;
    color: white;
    float: right;
    margin-right:150px;
}

.kullaniciBilgiPaneliYetki {
    padding: 10px;
    width: 300px;
    color: white;
    text-decoration: none;
}

.kullaniciBilgiPaneliCikis {
    padding: 10px;
    width: 300px;
    color: white;
    text-decoration: none;
}

    .kullaniciBilgiPaneliCikis:hover {
        text-decoration: underline;
    }