.sayfaBaslik {
    padding: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid silver;
}

.tablo {
    width: 1000px;
    font-size: 12px;
}

    .tablo tr {
    }

        .tablo tr th {
            background-color: #ECF0F1;
            padding: 10px;
            text-align: left;
            border: 1px solid silver;

        }

        .tablo tr td {
            border: 1px solid silver;
            padding: 10px;

        }

            .tablo tr td img {
                display: block;
                margin-left: auto;
                margin-right: auto;
            }

    .tablo .alternate td {
        background-color: #d8d8d8;
    }

  

.duzenle {
    padding: 8px;
    margin: 5px;
    font-size: 12px;
    border-radius: 3px;
    background-color: forestgreen;
    color: white;
    text-decoration: none;
}

.sil {
    padding: 8px;
    margin: 5px;
    font-size: 12px;
    border-radius: 3px;
    background-color: red;
    color: white;
    text-decoration: none;
}

.geriAl {
    padding: 8px;
    margin: 5px;
    font-size: 12px;
    border-radius: 3px;
    background-color: #34495E;
    color: white;
    text-decoration: none;
}

.kategori {
    padding: 8px;
    margin: 5px;
    font-size: 12px;
    border-radius: 3px;
    background-color: #ff5700;
    color: white;
    text-decoration: none;
}


.esertablo {
    width: 1250px;
    font-size: 12px;
}

    .esertablo tr {
    }

        .esertablo tr th {
            background-color: #ECF0F1;
            padding: 10px;
            text-align: left;
            border: 1px solid silver;
        }

        .esertablo tr td {
            border: 1px solid silver;
            padding: 10px;
        }

            .esertablo tr td img {
                display: block;
                margin-left: auto;
                margin-right: auto;
            }

    .esertablo .alternate td {
        background-color: #d8d8d8;
    }
.gizle {
    -webkit-text-security: disc;
}

.girisbilgipaneli {
    background-color: #FF0000;
    color: white;
    padding: 10px;
    width: 298px;
    border-radius: 5px;
}