*, h1, h2, h3, h4, h5, h6, ul, li, ol {
    margin: 0;
    padding: 0;
}

body {
}

.ustPanel {
    background-color: #7A8A80;
    min-height: 100px;
    color: #34495E;
}

.anaMenu {
    width: 150px;
    padding: 20px;
    height: 700px;
    background-color: #F9D56D;
    float: left;
}

    .anaMenu a {
        text-decoration: none;
        display: block;
        padding: 10px;
        font-weight: 900;
    }

        .anaMenu a:hover {
            color: white;
            background-color: #1ABC9C;
            border-radius: 5px;
        }

.anaicerik {
    float: left;
    padding: 15px;
}

.panelBasligi {
    padding: 10px 20px;
    width: 200px;
    color: white;
    float: left;
}

.kullaniciBilgiPaneliBasligi {
    padding: 10px;
    color: white;
    float: right;
}

.kullaniciBilgiPaneliYetki {
    padding: 10px;
    width: 300px;
    color: white;
    text-decoration: none;
}

.kullaniciBilgiPaneliCikis {
    padding: 10px;
    width: 300px;
    color: white;
    text-decoration: none;
}

    .kullaniciBilgiPaneliCikis:hover {
        text-decoration: underline;
    }

